.alpha-pagination-container {
  position: fixed;
  right: 10px;
  top: 30%;
  background-color: #fff;
  z-index: 1;
}
.char-link {
  display: block;
  text-decoration: none;
  font-size: 16px;

  &.active {
    cursor: pointer;
    color: rgb(0, 122, 255);
  }
  &.disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: rgba(174, 174, 147);
  }
}
